{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<div class="mb-3 text-center w-full d-flex flex-col justify-content-center align-items-center">
<form method="POST" class="">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 text-center">
            <p class="m-2 p-2">You are logged in as {{ app.user.displayname }}</p>
            <a href="{{ path('app_logout') }}" class="btn btn-danger w-half">You can logout here</a>
        </div>
    {% else %}
    <div class="mb-3 text-center d-flex flex-col justify-content-center align-items-center w-full border p-4">
        <h1 class="h3 m-3 font-weight-normal text-center">Please sign in</h1>
        <label for="inputEmail" class="h3 m-3 font-weight-normal text-center">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control m-4" autocomplete="email" required autofocus>
        <label for="inputPassword" class="h3 m-3 font-weight-normal text-center">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control m-4" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary m-4" type="submit">
            Sign in
        </button>
        or
        <a href=" {{ path('app_register')}}" class="btn btn-lg btn-secondary m-4">
           Register
        </a>
    </div>
    {% endif %}
</form>
{% endblock %}
