{% block sidebar %}
    <!-- Sidebar (immediate child of the page wrapper) -->
    
      <div class="sidebar-menu">
        <!-- Sidebar brand -->
        <a href="#" class="sidebar-brand">
          <img src="..." alt="...">
          Brand
        </a>
        <!-- Sidebar content with the search box -->
        <div class="sidebar-content">
          <input type="text" class="form-control" placeholder="Search">
          <div class="mt-10 font-size-12"> <!-- mt-10 = margin-top: 1rem (10px), font-size-12 = font-size: 1.2rem (12px) -->
            Press <kbd>/</kbd> to focus
          </div>
        </div>
        <!-- Sidebar links and titles -->
        <a href="{{ path('admin_searchlogs') }}"><h5 class="sidebar-title">TERMINOS DE BUSQUEDA</h5></a>
        <div class="sidebar-divider"></div>
        <a href="{{ path('admin_docs') }}" class="sidebar-link">DOCS DEL PROYECTO</a>
        <a href="{{ path('api_allMovies', {'formato':'json'}) }}" class="sidebar-link active">API MOVIES JSON</a>
        <a href="{{ path('api_allMovies', {'formato':'csv'}) }}" class="sidebar-link active">API MOVIES CSV</a>
        <a href="{{ path('api_allMovies', {'formato':'xml'}) }}" class="sidebar-link active">API MOVIES XML</a>
        <a href="{{ path('api_allActors', {'formato':'json'}) }}" class="sidebar-link active">API ACTORS JSON</a>
        <a href="{{ path('api_allActors', {'formato':'csv'}) }}" class="sidebar-link active">API ACTORS CSV</a>
        <a href="{{ path('api_allActors', {'formato':'xml'}) }}" class="sidebar-link active">API ACTORS XML</a>
        {# <a href="#" class="sidebar-link">CLI commands</a>
        <br />
        <h5 class="sidebar-title">Components</h5>
        <div class="sidebar-divider"></div>
        <a href="#" class="sidebar-link">File explorer</a>
        <a href="#" class="sidebar-link">Spreadsheet</a>
        <a href="#" class="sidebar-link">Map</a>
        <a href="#" class="sidebar-link">Messenger</a> #}
      </div>
    
{% endblock %}