<!-- Responsive table -->
<div class="w-full m-2 p-2"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
  <div class="card p-0 bg-very-dark-dm"> <!-- p-0 = padding: 0, bg-very-dark-dm = background-color: var(--dark-color-dark) only in dark mode -->
    <div class="table-responsive">
      <table class="table p-4 m-4 table-hover">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center d-none d-xl-block">FOTO</th>
            <th class="text-center">NOMBRE</th>
            <th class="text-center">FECHA NACIMIENTO</th>
            <th class="text-center">NACIONALIDAD</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for actor in actors %}
          <tr>
            <th class="text-center">{{ actor.id }}</th>
            <th class="text-center d-none d-xl-block">
              {% if actor.gender == 'M' %}
                <img src="{{ asset(portraits_directory ~'/'~ (actor.portrait ?? 'default_male.jpg' ))}}" class="h-200 w-150 rounded-top" alt="{{ actor.portrait }}" title="{{ actor.nombre }}"   />
              {% else %}
                <img src="{{ asset(portraits_directory ~'/'~ (actor.portrait ?? 'default_female.jpg' ))}}" class="h-200 w-150 rounded-top" alt="{{ actor.portrait }}" title="{{ actor.nombre }}"  />
            {% endif %} 
            </th>
            <td class="text-center text-wrap w-150">{{ actor.nombre }}</td>
            {# <td>
            <img src="/img/{{ actor.nombre }}.jpg" class="img-fluid rounded-top" alt="{{ actor.nombre }}"> <!-- rounded-top = rounded corners on the top -->
            </td> #}
            <td class="text-center">{{ actor.fechanacimiento | date("d/m/Y") }}</td>
            <td class="text-center text-wrap w-150">{{ actor.nacionalidad }}</td>
            <td class="">
              <div class="d-flex justify-content-center align-items-center">
                <a href="{{ path('actor_show', {'id':actor.id })}}" class="m-2">
                  {# <img src="{{ asset('img/buttons/show.png')}}" alt="detalles actor {{ actor.nombre }}" style="height:20px; width:20px"/> #}
                  <i class="fas fa-search-plus"></i>
                </a>
                {% if is_granted('create', actor ) %}
                  <a href="{{ path('actor_edit', {'id':actor.id })}}" class="m-2">
                    {# <img src="{{ asset('img/buttons/update.png')}}" alt="editar actor {{ actor.nombre }}" style="height:20px; width:20px"/> #}
                    <i class="fas fa-edit"></i>
                  </a>
                  <a href="{{ path('actor_delete', {'id':actor.id })}}" class="m-2">
                    {# <img src="{{ asset('img/buttons/delete.png')}}" alt="borrar actor {{ actor.nombre }}" style="height:20px; width:20px"/> #}
                    <i class="fas fa-trash"></i>
                  </a>
              {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>